In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("model_data2.csv")

In [3]:
df.head()

,COWNNUM,OCCPCODE,CLTSEX,MARRYD,CLTTYPE,BILLCHNL,Count_product,Age_Product1,Age,Product_1,Product_2
0,2599,1516.0,F,M,P,C,1,1,31.0,01_Endowment,01_Endowment
1,4931,1078.0,F,M,P,C,1,1,46.0,05_ILP 2016 - Prulink,01_Endowment
2,9093,2309.0,F,M,P,C,1,1,33.0,02_CI Endowment,01_Endowment
3,12712,1830.0,F,M,P,C,1,6,39.0,01_Endowment,01_Endowment
4,90246,2309.0,F,M,P,C,1,14,31.0,01_Endowment,01_Endowment

In [4]:
df.shape

(43209, 11)

In [5]:
drop = ['COWNNUM',
 'Count_product',
 'Age_Product1']

In [6]:
#df = df.drop(drop,1)

In [7]:
df.head()

,COWNNUM,OCCPCODE,CLTSEX,MARRYD,CLTTYPE,BILLCHNL,Count_product,Age_Product1,Age,Product_1,Product_2
0,2599,1516.0,F,M,P,C,1,1,31.0,01_Endowment,01_Endowment
1,4931,1078.0,F,M,P,C,1,1,46.0,05_ILP 2016 - Prulink,01_Endowment
2,9093,2309.0,F,M,P,C,1,1,33.0,02_CI Endowment,01_Endowment
3,12712,1830.0,F,M,P,C,1,6,39.0,01_Endowment,01_Endowment
4,90246,2309.0,F,M,P,C,1,14,31.0,01_Endowment,01_Endowment

In [8]:
df = pd.get_dummies(df.iloc[:,:-1])

In [9]:
from scipy.spatial.distance import euclidean

In [10]:
# df.tail()

In [11]:

test = df.tail(1)
# df = df[:-1]

In [12]:
df.tail(1)

,COWNNUM,OCCPCODE,Count_product,Age_Product1,Age,CLTSEX_F,CLTSEX_M,MARRYD_D,MARRYD_M,MARRYD_S,...,BILLCHNL_P,Product_1_01_Endowment,Product_1_02_CI Endowment,Product_1_03_Universal life,Product_1_04_PruCare Plus,Product_1_05_ILP 2016 - Prulink,Product_1_06_Retire,Product_1_07_Single,Product_1_08_Level Term Stand Alone,Product_1_09_Level Term Stand Alone
43208,93352531,2218.0,1,1,40.0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [13]:
# dist = []
# for x in range(df.shape[0]):
#     dist.append(euclidean(test,df.iloc[x]))
# df["distances"] = dist

In [14]:
df = df.dropna()

In [15]:
for x in list(df):
    df[x] = df[x].astype(float)

In [16]:
dist = []
for x in range(df.shape[0]):
    dist.append(euclidean(test,df.iloc[x]))
df["distances"] = dist

In [20]:
df.head()

,COWNNUM,OCCPCODE,Count_product,Age_Product1,Age,CLTSEX_F,CLTSEX_M,MARRYD_D,MARRYD_M,MARRYD_S,...,Product_1_01_Endowment,Product_1_02_CI Endowment,Product_1_03_Universal life,Product_1_04_PruCare Plus,Product_1_05_ILP 2016 - Prulink,Product_1_06_Retire,Product_1_07_Single,Product_1_08_Level Term Stand Alone,Product_1_09_Level Term Stand Alone,distances
0,2599.0,1516.0,1.0,1.0,31.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.334993e+07
1,4931.0,1078.0,1.0,1.0,46.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.334760e+07
2,9093.0,2309.0,1.0,1.0,33.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.334344e+07
3,12712.0,1830.0,1.0,6.0,39.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.333982e+07
4,90246.0,2309.0,1.0,14.0,31.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.326229e+07

In [18]:
ind =list(df.sort_values(by=['distances']).head(3).index)

In [21]:
most_closest_rows = df[df.index.isin(ind)]

In [22]:
most_closest_rows["Product_2"]

KeyError: 'Product_2'

In [23]:
ind1 = list(df.sort_values(by=['distances']).head(100).index)

In [25]:
most_closest_rows1 = df[df.index.isin(ind1)]

In [26]:
most_closest_rows1["Product_2"].value_counts()

KeyError: 'Product_2'